body {
    color: blanchedalmond;
    background-color: rgb(13, 28, 28);
    font-size: large;
    margin: 0;
}

.left {
    width: 25vw;
    height: 95vh;
    margin: 0;
    padding-left: 50px;
    top: 2vh;
    left: 0;
    position: absolute;
    border: solid rgb(54, 15, 6);
}

.right {
    width: 72vw;
    height: 95vh;
    margin: 0;
    padding: 0;
    top: 2vh;
    left: 26vw;
    position: absolute;
}

.thumbnail {
    background-color: rgb(9, 20, 20);
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    width: 50%;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
}

.thumbnail img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid rgb(54, 15, 6);
}

.info {
    margin-top: 15px;
    background-color: rgb(9, 20, 20);
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    width: 50%;
    height: 60%;
    padding: 10px;
    text-align: center;
}

h3 {
    color: burlywood;
}

.about {
    margin-top: 100px;
    margin-left: 100px;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    text-align: center;
}

.about img {
    border: solid;
    border-radius: 2%;
}